<%- include('./partials/header', {data: {pageTitle} }); %>
    <%- include('./partials/navbar', {data: {pageTitle} }); %>

        <main>
            <section class="hero-section"
                style="background: url(images/hero-section-bg-img.png); background-position: center; background-size: cover; background-repeat: no-repeat;">

                <div class="bg-color" style="background: rgba(0, 0, 0, 0);">
                    <div class="container py-5 px-3 d-flex flex-column justify-content-center"
                        style="min-height: 80vh;">
                        <div class="row row-cols-1 row-cols-md-2 align-items-center my-5">
                            <div class="col">
                                <p>Hi There ! I'm a ---</p>
                                <h2>Front End Developer & <br /> Back End Developer</h2>
                                <p class="py-2 pb-4 paragraph-2">
                                    Nothing is impossible on the web, Let’s execute your idea into
                                    the website and start your business or startup today.
                                </p>
                                <div class="d-flex">
                                    <a href="/contact" class="btn btn-primary me-3">
                                        Hire Me
                                    </a>
                                    <a href="/projects" class="btn btn-primary-outline ms-3">
                                        See My Projects
                                    </a>
                                </div>
                            </div>
                            <div class="col mt-5 mt-md-0">
                                <div class="img-box-wrapper mt-5 mt-md-0">
                                    <div class="img-box-outline"></div>
                                    <div class="img-box">
                                        <img src="images/hero-section-img.png" alt="" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section class="skills-section mb-5">
                <div class="container">
                    <h2 class="section-heading text-center mb-4"><span>T</span>echno<span>lo</span>gies I have
                        <span>Ex</span>perience
                    </h2>
                    <p class="mb-5 text-center text-secondary">I know a lot of technologies & Tools, but i have
                        expertise in the
                        following</p>

                    <div class="row">
                        <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px;">
                                <svg stroke="currentColor" fill="#f87171" stroke-width="0" version="1.1"
                                    viewBox="0 0 16 16" class="icon text-[22px] mr-2 text-red-400" height="2em"
                                    width="2em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.946 0l1.284 14.4 5.762 1.6 5.777-1.602 1.286-14.398h-14.108zM12.26 4.71h-6.758l0.161 1.809h6.437l-0.485 5.422-3.623 1.004-3.618-1.004-0.247-2.774h1.773l0.126 1.41 1.967 0.53 0.004-0.001 1.968-0.531 0.204-2.29h-6.121l-0.476-5.341h8.847l-0.158 1.766z">
                                    </path>
                                </svg>
                                <span>|</span>
                                <span>HTML</span>
                            </div>
                        </div>
                        <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px;">
                                <svg stroke="currentColor" fill="#2563eb" stroke-width="0" viewBox="0 0 512 512"
                                    class="icon text-[25px] mr-2 text-blue-600" height="2em" width="2em"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M256.282 339.488zM64 32l34.946 403.219L255.767 480l157.259-44.85L448 32H64zm290.676 334.898l-98.607 28.125-98.458-28.248L150.864 289h48.253l3.433 39.562 53.586 15.163.132.273h.034l53.467-14.852L315.381 265H203l-4-50h120.646l4.396-51H140l-4-49h240.58l-21.904 251.898z">
                                    </path>
                                </svg>
                                <span>|</span>
                                <span>CSS</span>
                            </div>
                        </div>
                        <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px;">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.90788 2.34998H27.3648V27.8069H1.90788V2.34998Z" fill="#F5DE19"></path>
                                    <path
                                        d="M19.0086 22.2382C19.2255 22.6788 19.5625 23.0491 19.9807 23.3065C20.3989 23.5638 20.8814 23.6978 21.3724 23.6929C22.3634 23.6929 22.9971 23.1974 22.9971 22.5109C22.9971 21.6927 22.3461 21.3999 21.2551 20.9226L20.6569 20.6662C18.9295 19.9307 17.7839 19.0097 17.7839 17.0622C17.7839 15.2684 19.1477 13.9019 21.287 13.9019C21.9795 13.8519 22.6714 14.0069 23.2764 14.3476C23.8814 14.6883 24.3727 15.1995 24.6891 15.8176L22.8189 17.0131C22.6971 16.7067 22.485 16.4445 22.2108 16.2613C21.9365 16.0782 21.6131 15.9827 21.2833 15.9876C21.1395 15.9732 20.9942 15.9889 20.8567 16.0338C20.7193 16.0786 20.5927 16.1516 20.485 16.2481C20.3773 16.3446 20.2909 16.4624 20.2312 16.5941C20.1716 16.7259 20.1401 16.8686 20.1387 17.0131C20.1387 17.7305 20.5833 18.0214 21.6097 18.4678L22.208 18.7242C24.2409 19.5961 25.3901 20.4844 25.3901 22.4818C25.3901 24.6357 23.6981 25.8158 21.4261 25.8158C20.5408 25.8722 19.6581 25.6712 18.8846 25.2371C18.111 24.8029 17.4796 24.1542 17.0666 23.3692L19.0086 22.2382ZM10.5578 22.4455C10.9333 23.1119 11.2751 23.6756 12.097 23.6756C12.8825 23.6756 13.3789 23.3683 13.3789 22.1727V14.0383H15.771V22.2045C15.771 24.6811 14.3163 25.8085 12.1988 25.8085C11.4504 25.8494 10.707 25.6629 10.0665 25.2734C9.42605 24.884 8.9184 24.3098 8.61032 23.6265L10.5578 22.4455Z"
                                        fill="black"></path>
                                </svg>
                                <span>|</span>
                                <span>Javascript</span>
                            </div>
                        </div>
                        <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px;">
                                <svg class="icon text-[22px] mr-2" width="30" height="30" viewBox="0 0 30 30"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_518_74)">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M6.58361 3.23804C4.92284 3.23804 3.69485 4.69151 3.75061 6.2662C3.80274 7.78149 3.73486 9.74167 3.24148 11.3406C2.74446 12.9432 1.90802 13.959 0.540619 14.09V15.5628C1.90802 15.6925 2.74567 16.7084 3.24026 18.3122C3.73486 19.9111 3.80274 21.8713 3.7494 23.3854C3.69485 24.9613 4.92284 26.4147 6.58361 26.4147H23.5937C25.2544 26.4147 26.4824 24.9613 26.4267 23.3854C26.3745 21.8713 26.4424 19.9111 26.9358 18.3122C27.4316 16.7084 28.2668 15.6937 29.6342 15.5628V14.09C28.2668 13.959 27.4316 12.9432 26.9358 11.3406C26.4424 9.74046 26.3745 7.78028 26.4267 6.2662C26.4824 4.69029 25.2532 3.23804 23.5937 3.23804H6.58361ZM20.2637 17.5048C20.2637 19.6747 18.6453 20.99 15.9602 20.99H11.3889C11.258 20.99 11.1326 20.938 11.04 20.8455C10.9475 20.753 10.8955 20.6275 10.8955 20.4966V9.15495C10.8958 9.02431 10.948 8.89913 11.0405 8.80686C11.1329 8.7146 11.2583 8.66278 11.3889 8.66278H15.9348C18.1738 8.66278 19.6442 9.87502 19.6442 11.7382C19.6442 13.045 18.655 14.2148 17.3955 14.4209V14.4888C19.1108 14.6767 20.2649 15.8647 20.2649 17.5048H20.2637ZM15.4632 10.2254H12.8569V13.9081H15.0523C16.7494 13.9081 17.6852 13.2244 17.6852 12.0025C17.6852 10.8581 16.8803 10.2254 15.4632 10.2254ZM12.8569 15.3689V19.4262H15.5602C17.3264 19.4262 18.2635 18.7171 18.2635 17.3848C18.2635 16.0514 17.301 15.3689 15.4462 15.3689H12.8569Z"
                                            fill="#7411F6"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_518_74">
                                            <rect width="29.0936" height="29.0936" fill="white"
                                                transform="translate(0.540619 0.531616)"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span>|</span>
                                <span>Bootstrap</span>
                            </div>
                        </div>
                        <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px;">
                                <svg width="30" class="icon text-[22px] mr-2" height="30" viewBox="0 0 30 30"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_524_12)">
                                        <path
                                            d="M14.6066 20.6662C14.5929 20.6935 14.5793 20.7153 14.6066 20.6662V20.6662ZM25.9313 16.7113C25.0166 16.7113 24.1147 16.9204 23.2946 17.325C23.0264 16.784 22.7491 16.3113 22.7037 15.9567C22.6491 15.543 22.59 15.2975 22.6537 14.8066C22.7173 14.3156 23.0037 13.6201 22.9992 13.5701C22.9946 13.5201 22.9355 13.2701 22.3491 13.2655C21.7627 13.261 21.2581 13.3792 21.199 13.5337C21.0952 13.8161 21.0147 14.1065 20.9581 14.402C20.8535 14.9339 19.7861 16.8341 19.1815 17.8251C18.9815 17.4387 18.8133 17.0977 18.777 16.825C18.7224 16.4113 18.6633 16.1658 18.7269 15.6749C18.7906 15.1839 19.077 14.4884 19.0724 14.4384C19.0679 14.3884 19.0088 14.1383 18.4233 14.1338C17.8378 14.1293 17.3323 14.2474 17.2732 14.402C17.2141 14.5566 17.1504 14.9202 17.0322 15.2703C16.9141 15.6203 15.4912 18.7842 15.1193 19.607C14.9284 20.0253 14.7648 20.3617 14.6466 20.5889C14.6284 20.6253 14.6147 20.648 14.6057 20.6662C14.6193 20.6435 14.6284 20.6208 14.6284 20.6299C14.5284 20.8253 14.4693 20.9344 14.4693 20.9344V20.939C14.392 21.0844 14.3056 21.2163 14.2647 21.2163C14.2374 21.2163 14.1783 20.8344 14.2784 20.3116C14.492 19.2115 14.9966 17.5023 14.9921 17.4432C14.9875 17.4114 15.0875 17.1159 14.6602 16.9568C14.2465 16.8068 14.0965 17.0568 14.0602 17.0568C14.0238 17.0568 13.9965 17.1477 13.9965 17.1477C13.9965 17.1477 14.4556 15.2203 13.1146 15.2203C12.2782 15.2203 11.1144 16.1385 10.5426 16.9704C10.1834 17.1659 9.40608 17.5887 8.58782 18.0387L7.64683 18.5569C7.6241 18.5342 7.60592 18.5115 7.58319 18.4887C5.95576 16.7522 2.95185 15.5248 3.07913 13.1928C3.12459 12.3427 3.42007 10.1107 8.85603 7.40135C13.311 5.18297 16.8722 5.79211 17.4859 7.14678C18.3678 9.07878 15.5812 12.6746 10.9553 13.1928C9.19152 13.3883 8.26507 12.7064 8.03323 12.4518C7.7923 12.1836 7.75593 12.17 7.66501 12.22C7.515 12.3018 7.61046 12.5382 7.66501 12.6791C7.80139 13.0382 8.36962 13.6747 9.33789 13.9929C10.188 14.2702 12.2554 14.4247 14.7548 13.4565C17.5632 12.3745 19.7498 9.36063 19.1079 6.83766C18.4551 4.27379 14.2038 3.4328 10.1843 4.86021C7.78866 5.71029 5.19842 7.04678 3.33552 8.78785C1.12168 10.8608 0.768007 12.6655 0.913475 13.4201C1.4317 16.0976 5.12205 17.8432 6.59855 19.1343L6.39398 19.2479C5.65301 19.6161 2.84002 21.089 2.13541 22.6437C1.33988 24.4075 2.26724 25.6712 2.87548 25.844C4.77565 26.3713 6.72038 25.4212 7.76593 23.862C8.81148 22.3027 8.6842 20.2662 8.20233 19.3388C8.19779 19.3252 8.1887 19.3161 8.18415 19.3025C8.72963 18.9794 9.27974 18.6642 9.8343 18.3569C9.65247 18.8479 9.52064 19.4388 9.45245 20.2935C9.37062 21.2936 9.7843 22.5891 10.3207 23.0983C10.5571 23.321 10.8426 23.3256 11.0208 23.3256C11.6481 23.3256 11.93 22.8073 12.2436 22.1891C12.63 21.4345 12.971 20.5571 12.971 20.5571C12.971 20.5571 12.5436 22.9301 13.7119 22.9301C14.1392 22.9301 14.5666 22.38 14.7575 22.0982V22.1027C14.7575 22.1027 14.7666 22.0845 14.7893 22.0482C14.8348 21.98 14.8575 21.9391 14.8575 21.9391V21.9254C15.0302 21.63 15.4075 20.9526 15.9758 19.8343C16.7122 18.3887 17.4159 16.584 17.4159 16.584C17.4841 16.9804 17.5787 17.3723 17.6978 17.7569C17.825 18.1887 18.0933 18.6615 18.3069 19.1206C18.1342 19.357 18.0296 19.4934 18.0296 19.4934C18.0296 19.497 18.0314 19.4998 18.0342 19.5025C17.8978 19.6843 17.7432 19.8798 17.5841 20.0707C17.0032 20.7617 16.3113 21.5527 16.2204 21.78C16.1113 22.0482 16.1385 22.2482 16.3476 22.4028C16.5022 22.5209 16.7749 22.5391 17.0613 22.5164C17.5841 22.48 17.9523 22.3527 18.1296 22.2709C18.4566 22.1538 18.7657 21.9916 19.0479 21.7891C19.6161 21.3708 19.9616 20.7708 19.9298 19.9798C19.9116 19.5434 19.7707 19.107 19.5979 18.6979C19.6479 18.6251 19.7025 18.5478 19.7525 18.4706C20.3441 17.5879 20.8771 16.6673 21.3481 15.7149C21.4163 16.1113 21.5099 16.5031 21.6299 16.8877C21.739 17.2559 21.9527 17.6605 22.1482 18.056C21.3026 18.7424 20.7799 19.5379 20.5989 20.0607C20.2625 21.029 20.5262 21.4654 21.0217 21.5654C21.2445 21.6109 21.5627 21.5063 21.7991 21.4063C22.15 21.289 22.4809 21.119 22.7801 20.9017C23.3483 20.4835 23.8983 19.8971 23.8611 19.1015C23.8474 18.7424 23.7474 18.3833 23.6156 18.0378C24.3293 17.7378 25.2566 17.5741 26.4386 17.7105C28.9697 18.006 29.4652 19.5879 29.3698 20.2471C29.2743 20.9062 28.7424 21.2745 28.5651 21.3836C28.3878 21.4927 28.3333 21.5336 28.3469 21.6154C28.3697 21.7336 28.4515 21.7291 28.6015 21.7018C28.8106 21.6654 29.9289 21.1654 29.9789 19.9425C30.0516 18.3969 28.5651 16.6968 25.9331 16.7104L25.9313 16.7113ZM6.42126 23.2892C5.58482 24.2029 4.41289 24.5484 3.9083 24.2575C3.36734 23.9429 3.581 22.5982 4.612 21.6245C5.23933 21.0335 6.0485 20.488 6.58491 20.1516C6.70765 20.0789 6.88494 19.9698 7.10314 19.838C7.12087 19.8266 7.13907 19.816 7.15769 19.8061C7.1986 19.7789 7.24406 19.7561 7.28952 19.7289C7.66592 21.1108 7.30316 22.3291 6.42126 23.2883V23.2892ZM12.5291 19.1343C12.2382 19.848 11.6254 21.6663 11.2517 21.5709C10.9335 21.489 10.738 20.1025 11.1881 18.7388C11.4154 18.0523 11.8972 17.2341 12.1836 16.9159C12.6427 16.4022 13.1473 16.2385 13.2655 16.4431C13.4246 16.7113 12.7109 18.6888 12.5291 19.1343ZM17.575 21.5436C17.4523 21.6072 17.3386 21.6481 17.2841 21.6163C17.2432 21.5936 17.3341 21.5072 17.3341 21.5072C17.3341 21.5072 17.966 20.8299 18.216 20.5208C18.3615 20.3389 18.5297 20.1253 18.7115 19.8889C18.7115 19.9116 18.716 19.9343 18.716 19.9616C18.7106 20.7753 17.9287 21.3254 17.5741 21.5436H17.575ZM21.4663 20.6571C21.3754 20.5935 21.389 20.3798 21.6936 19.7161C21.8118 19.457 22.0845 19.0206 22.5573 18.6024C22.6109 18.7606 22.64 18.9261 22.6437 19.0934C22.6391 20.1162 21.9072 20.498 21.4663 20.6571V20.6571Z"
                                            fill="#CC6699"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_524_12">
                                            <rect width="29.0936" height="29.0936" fill="white"
                                                transform="translate(0.885284 0.531616)"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span>|</span>
                                <span>Sass</span>
                            </div>
                        </div>
                        <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px;">
                                <svg width="30" class="icon text-[22px] mr-2" height="30" viewBox="0 0 30 30"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_524_14)">
                                        <path
                                            d="M24.8875 11.7736C23.7966 11.3957 22.8336 10.7163 22.1091 9.81312C21.3105 8.80686 20.2937 7.99764 19.1364 7.44735C17.9792 6.89707 16.7121 6.62031 15.4321 6.63824C13.7103 6.51559 12.0057 7.04972 10.6578 8.13425C9.30996 9.21877 8.41768 10.7741 8.15868 12.4906C8.6688 11.6321 9.43656 10.9585 10.3515 10.5668C11.2664 10.175 12.2813 10.0853 13.2501 10.3106C14.3392 10.6995 15.3006 11.3829 16.0285 12.2857C16.8314 13.2839 17.8502 14.0848 19.0072 14.6274C20.1642 15.1699 21.4291 15.4399 22.7055 15.4167C24.4273 15.5394 26.1319 15.0052 27.4797 13.9207C28.8276 12.8362 29.7199 11.2808 29.9789 9.5644C29.478 10.4331 28.7127 11.1169 27.796 11.5147C26.8792 11.9125 25.8595 12.0033 24.8875 11.7736ZM5.97666 19.0598C7.0676 19.4377 8.03055 20.1172 8.7551 21.0203C9.55365 22.0266 10.5705 22.8358 11.7277 23.3861C12.885 23.9364 14.1521 24.2131 15.4321 24.1952C17.1539 24.3178 18.8585 23.7837 20.2063 22.6992C21.5542 21.6147 22.4465 20.0593 22.7055 18.3429C22.1954 19.2013 21.4276 19.8749 20.5127 20.2667C19.5978 20.6584 18.5829 20.7481 17.6141 20.5229C16.525 20.134 15.5636 19.4505 14.8357 18.5477C14.0306 17.552 13.0114 16.7529 11.8549 16.2105C10.6984 15.6682 9.43459 15.3968 8.15868 15.4167C6.43687 15.2941 4.73231 15.8282 3.38443 16.9127C2.03656 17.9973 1.14427 19.5526 0.885281 21.269C1.38614 20.4003 2.15145 19.7166 3.06822 19.3187C3.985 18.9209 5.00466 18.8302 5.97666 19.0598Z"
                                            fill="#38BDF8"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_524_14">
                                            <rect width="29.0936" height="29.0936" fill="white"
                                                transform="translate(0.885288 0.531616)"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span>|</span>
                                <span>Tailwind CSS</span>
                            </div>
                        </div>
                        <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px;">
                                <svg width="30" height="30" class="icon text-[22px] mr-2" viewBox="0 0 30 30"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_537_121)">
                                        <path
                                            d="M11.2502 27.8423C13.5962 27.8423 15.5002 25.9009 15.5002 23.5089V19.1756H11.2502C8.90418 19.1756 7.00018 21.1169 7.00018 23.5089C7.00018 25.9009 8.90418 27.8423 11.2502 27.8423Z"
                                            fill="#0ACF83"></path>
                                        <path
                                            d="M7.00018 14.8423C7.00018 12.4503 8.90418 10.509 11.2502 10.509H15.5002V19.1756H11.2502C8.90418 19.1756 7.00018 17.2343 7.00018 14.8423Z"
                                            fill="#A259FF"></path>
                                        <path
                                            d="M7.00018 6.17562C7.00018 3.78362 8.90418 1.84229 11.2502 1.84229H15.5002V10.509H11.2502C8.90418 10.509 7.00018 8.56762 7.00018 6.17562Z"
                                            fill="#F24E1E"></path>
                                        <path
                                            d="M15.5002 1.84229H19.7502C22.0962 1.84229 24.0002 3.78362 24.0002 6.17562C24.0002 8.56762 22.0962 10.509 19.7502 10.509H15.5002V1.84229Z"
                                            fill="#FF7262"></path>
                                        <path
                                            d="M24.0002 14.8423C24.0002 17.2343 22.0962 19.1756 19.7502 19.1756C17.4042 19.1756 15.5002 17.2343 15.5002 14.8423C15.5002 12.4503 17.4042 10.509 19.7502 10.509C22.0962 10.509 24.0002 12.4503 24.0002 14.8423Z"
                                            fill="#1ABCFE"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_537_121">
                                            <rect width="17" height="26" fill="white"
                                                transform="translate(7.00018 1.84229)"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span>|</span>
                                <span>Figma</span>
                            </div>
                        </div>

                        <!-- <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px;">
                                <svg width="30" class="icon text-[22px] mr-2" height="30" viewBox="0 0 30 30"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_528_54)">
                                        <g clip-path="url(#clip1_528_54)">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M15.5002 0.999695C7.48893 0.999695 1.00018 7.48844 1.00018 15.4997C1.00018 21.9159 5.15081 27.3353 10.9146 29.2566C11.6396 29.3834 11.9114 28.9484 11.9114 28.5678C11.9114 28.2234 11.8933 27.0816 11.8933 25.8672C8.25018 26.5378 7.30768 24.9791 7.01768 24.1634C6.85456 23.7466 6.14768 22.4597 5.53143 22.1153C5.02393 21.8434 4.29893 21.1728 5.51331 21.1547C6.65518 21.1366 7.47081 22.2059 7.74268 22.6409C9.04768 24.8341 11.1321 24.2178 11.9658 23.8372C12.0927 22.8947 12.4733 22.2603 12.8902 21.8978C9.66393 21.5353 6.29268 20.2847 6.29268 14.7384C6.29268 13.1616 6.85456 11.8566 7.77893 10.8416C7.63393 10.4791 7.12643 8.99282 7.92393 6.99907C7.92393 6.99907 9.13831 6.61844 11.9114 8.48532C13.0714 8.15907 14.3039 7.99594 15.5364 7.99594C16.7689 7.99594 18.0014 8.15907 19.1614 8.48532C21.9346 6.60032 23.1489 6.99907 23.1489 6.99907C23.9464 8.99282 23.4389 10.4791 23.2939 10.8416C24.2183 11.8566 24.7802 13.1434 24.7802 14.7384C24.7802 20.3028 21.3908 21.5353 18.1646 21.8978C18.6902 22.3509 19.1433 23.2209 19.1433 24.5803C19.1433 26.5197 19.1252 28.0784 19.1252 28.5678C19.1252 28.9484 19.3971 29.4016 20.1221 29.2566C23.0005 28.2847 25.5018 26.4347 27.2738 23.9669C29.0458 21.4991 29.9993 18.5378 30.0002 15.4997C30.0002 7.48844 23.5114 0.999695 15.5002 0.999695Z"
                                                fill="black"></path>
                                        </g>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_528_54">
                                            <rect width="29.0936" height="29.0936" fill="white"
                                                transform="translate(0.885284 0.531616)"></rect>
                                        </clipPath>
                                        <clipPath id="clip1_528_54">
                                            <rect width="29" height="29" fill="white"
                                                transform="translate(1.00018 0.999695)"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span>|</span>
                                <span>Git & Github</span>
                            </div>
                        </div> -->

                        <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px;">
                                <svg width="30" height="30" class="icon text-[22px] mr-2" viewBox="0 0 30 30"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.0218 9.82956C23.7238 9.73042 23.4233 9.63858 23.1205 9.55412C23.1714 9.3526 23.2182 9.15353 23.2597 8.95795C23.942 5.74633 23.496 3.15898 21.9725 2.3071C20.5118 1.49043 18.1229 2.34199 15.7104 4.37804C15.4726 4.57906 15.2401 4.78587 15.0131 4.99828C14.8611 4.85704 14.7065 4.71853 14.5492 4.58284C12.0207 2.40584 9.48626 1.48831 7.96442 2.34263C6.50503 3.16184 6.07289 5.59413 6.68714 8.63786C6.74825 8.93931 6.81725 9.2392 6.89407 9.53725C6.53532 9.6361 6.18915 9.74131 5.85785 9.85331C2.89335 10.8556 1.00018 12.4262 1.00018 14.0554C1.00018 15.7381 3.03259 17.4258 6.12025 18.4492C6.37057 18.5318 6.62297 18.6084 6.87723 18.6788C6.79465 18.9998 6.72134 19.323 6.65739 19.648C6.07179 22.6389 6.52909 25.0137 7.98454 25.8277C9.48779 26.6684 12.0109 25.8044 14.4675 23.7219C14.6667 23.5526 14.8616 23.3785 15.0518 23.1998C15.2976 23.4298 15.55 23.6531 15.8087 23.8694C18.1885 25.8551 20.5387 26.6569 21.9927 25.8407C23.4946 24.9976 23.9827 22.4464 23.349 19.3426C23.2991 19.0994 23.2431 18.8574 23.1811 18.6169C23.3583 18.566 23.5322 18.5136 23.7017 18.4591C26.9117 17.4278 29.0002 15.7606 29.0002 14.0554C29.0002 12.4203 27.0459 10.839 24.0218 9.82956ZM23.3256 17.3582C23.1725 17.4073 23.0154 17.4547 22.8553 17.5008C22.5009 16.413 22.0227 15.2563 21.4374 14.0611C21.9959 12.8944 22.4557 11.7524 22.8002 10.6717C23.0866 10.7521 23.3645 10.8368 23.6325 10.9262C26.2236 11.7913 27.8041 13.07 27.8041 14.0554C27.8041 15.105 26.0972 16.4676 23.3256 17.3582ZM22.1756 19.5678C22.4558 20.9403 22.4958 22.1812 22.3102 23.1513C22.1435 24.023 21.8081 24.6041 21.3934 24.8369C20.511 25.3322 18.624 24.6884 16.5889 22.9902C16.3483 22.789 16.1135 22.5814 15.8848 22.3676C16.6738 21.5309 17.4623 20.5582 18.2319 19.4779C19.5855 19.3614 20.8643 19.171 22.024 18.911C22.0799 19.1288 22.1304 19.3478 22.1756 19.5678ZM10.546 24.7513C9.6839 25.0465 8.99725 25.055 8.58217 24.8229C7.69896 24.329 7.33179 22.4221 7.83262 19.8644C7.89215 19.5621 7.96032 19.2615 8.03704 18.963C9.18395 19.209 10.4535 19.3859 11.8103 19.4926C12.5851 20.5497 13.3963 21.5214 14.2139 22.3722C14.0401 22.5352 13.8623 22.6941 13.6805 22.8486C12.594 23.7694 11.5054 24.4228 10.546 24.7513ZM6.50721 17.3517C5.14189 16.8991 4.01434 16.311 3.2415 15.6693C2.54696 15.0926 2.19642 14.52 2.19642 14.0554C2.19642 13.0667 3.7164 11.8057 6.25161 10.9486C6.55928 10.8447 6.88128 10.7466 7.21542 10.6545C7.56586 11.7596 8.02545 12.9152 8.58009 14.0836C8.01823 15.2694 7.55207 16.4434 7.19825 17.5616C6.96616 17.4971 6.73575 17.4271 6.50721 17.3517ZM7.86106 8.41503C7.33486 5.80731 7.68431 3.84021 8.56379 3.3465C9.50048 2.82065 11.5718 3.57039 13.7551 5.45021C13.8974 5.57307 14.0375 5.69841 14.1752 5.82619C13.3616 6.6733 12.5578 7.63771 11.7899 8.68856C10.473 8.80692 9.2125 8.99698 8.05356 9.25163C7.98215 8.97441 7.91797 8.69549 7.86106 8.41513V8.41503ZM19.939 11.3071C19.6653 10.8486 19.3814 10.3958 19.0875 9.94919C19.9809 10.0588 20.8369 10.2042 21.6407 10.3819C21.3994 11.132 21.0986 11.9161 20.7446 12.72C20.4858 12.2439 20.2172 11.7728 19.939 11.3071ZM15.0136 6.65516C15.5653 7.23478 16.1179 7.88186 16.6614 8.58398C15.5589 8.53349 14.4545 8.53328 13.352 8.58334C13.896 7.88769 14.4533 7.24147 15.0136 6.65516ZM10.0567 11.315C9.78194 11.777 9.51838 12.2452 9.2662 12.7191C8.91795 11.918 8.6199 11.1303 8.37654 10.3696C9.17542 10.1963 10.0273 10.0546 10.915 9.94707C10.6179 10.3964 10.3317 10.8525 10.0567 11.3149V11.315ZM10.9405 18.2463C10.0234 18.147 9.15868 18.0127 8.36003 17.844C8.60721 17.0698 8.91182 16.2653 9.26762 15.4471C9.52081 15.9213 9.78546 16.3897 10.0614 16.8519C10.3451 17.3271 10.6389 17.7925 10.9405 18.2463ZM15.0467 21.5374C14.4797 20.9443 13.9142 20.2881 13.362 19.5824C13.8981 19.6027 14.4447 19.6131 15.0002 19.6131C15.5709 19.6131 16.1351 19.6007 16.6904 19.5767C16.1451 20.2952 15.5946 20.9523 15.0467 21.5374ZM20.7558 15.4053C21.1301 16.2325 21.4455 17.0328 21.696 17.7938C20.8842 17.9734 20.0077 18.1181 19.0841 18.2255C19.3801 17.7706 19.6667 17.31 19.9437 16.844C20.2254 16.3703 20.4962 15.8906 20.7558 15.4053ZM18.9076 16.2645C18.4835 16.9789 18.0355 17.6798 17.5644 18.3661C16.711 18.4247 15.8557 18.4538 15.0002 18.4533C14.1288 18.4533 13.2812 18.427 12.4651 18.3757C11.9817 17.6911 11.5251 16.9889 11.0965 16.2708H11.0966C10.6699 15.5565 10.2714 14.8268 9.90189 14.0831C10.2705 13.3393 10.6678 12.6092 11.093 11.8943L11.0929 11.8945C11.5179 11.1794 11.9708 10.4803 12.4505 9.79859C13.2832 9.7375 14.1371 9.70568 15.0001 9.70568H15.0002C15.8671 9.70568 16.7221 9.73781 17.5545 9.79933C18.0294 10.48 18.4794 11.1767 18.9037 11.8882C19.3303 12.6015 19.7328 13.328 20.1107 14.0667C19.7367 14.8129 19.3354 15.546 18.9076 16.2645ZM21.3751 3.31192C22.3127 3.83628 22.6773 5.95081 22.0882 8.72377C22.0506 8.90068 22.0084 9.08087 21.9624 9.26362C20.8007 9.00356 19.5392 8.81021 18.2185 8.69004C17.4492 7.62763 16.652 6.66174 15.8517 5.82556C16.0614 5.6295 16.2761 5.43854 16.4957 5.25283C18.5629 3.50845 20.4949 2.81969 21.3751 3.31192ZM15.0002 11.6309C16.381 11.6309 17.5005 12.7164 17.5005 14.0554C17.5005 15.3945 16.381 16.48 15.0002 16.48C13.6193 16.48 12.4999 15.3945 12.4999 14.0554C12.4999 12.7164 13.6193 11.6309 15.0002 11.6309Z"
                                        fill="#00D8FF"></path>
                                </svg>
                                <span>|</span>
                                <span>React</span>
                            </div>
                        </div>
                        <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px;">
                                <svg width="49" height="28" class="icon text-[22px] mr-2" viewBox="0 0 49 28"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.1803 27.8396C24.0178 27.8396 23.8661 27.7985 23.7252 27.7266L22.2842 26.9147C22.0674 26.8016 22.1758 26.7606 22.2409 26.74C22.5334 26.6475 22.5876 26.6269 22.8909 26.4626C22.9235 26.442 22.9669 26.4523 22.9993 26.4728L24.1045 27.0997C24.1479 27.1202 24.202 27.1202 24.2345 27.0997L28.5578 24.7257C28.6011 24.7052 28.6228 24.664 28.6228 24.6127V19.8752C28.6228 19.8237 28.6011 19.7827 28.5578 19.762L24.2345 17.3984C24.1912 17.3778 24.137 17.3778 24.1045 17.3984L19.7813 19.762C19.7379 19.7826 19.7162 19.834 19.7162 19.8751V24.6126C19.7162 24.6538 19.7379 24.7051 19.7813 24.7257L20.9623 25.3732C21.6016 25.6814 22.0025 25.3218 22.0025 24.9621V20.2861C22.0025 20.2245 22.0567 20.1628 22.1325 20.1628H22.6851C22.7501 20.1628 22.8151 20.2142 22.8151 20.2861V24.9621C22.8151 25.7739 22.3492 26.2467 21.5365 26.2467C21.2874 26.2467 21.0924 26.2467 20.5397 25.9897L19.402 25.3732C19.1203 25.2191 18.947 24.9312 18.947 24.623V19.8854C18.947 19.5771 19.1203 19.2893 19.402 19.1352L23.7252 16.7612C23.9962 16.6174 24.3646 16.6174 24.6354 16.7612L28.9586 19.1352C29.2404 19.2893 29.4138 19.5771 29.4138 19.8854V24.623C29.4138 24.9312 29.2404 25.2191 28.9586 25.3732L24.6354 27.7471C24.4945 27.8088 24.3321 27.8396 24.1804 27.8396H24.1803ZM25.513 24.5819C23.6169 24.5819 23.2269 23.7597 23.2269 23.0609C23.2269 22.9992 23.281 22.9376 23.3569 22.9376H23.9203C23.9853 22.9376 24.0395 22.9787 24.0395 23.0404C24.1262 23.585 24.3754 23.8522 25.5239 23.8522C26.434 23.8522 26.8242 23.6569 26.8242 23.1945C26.8242 22.9273 26.7158 22.7321 25.2964 22.5985C24.1153 22.4854 23.3785 22.2388 23.3785 21.3447C23.3785 20.5123 24.1154 20.0189 25.3506 20.0189C26.7374 20.0189 27.4201 20.4712 27.5068 21.4576C27.5068 21.4886 27.4959 21.5193 27.4743 21.5502C27.4525 21.5707 27.4201 21.5913 27.3876 21.5913H26.8241C26.7699 21.5913 26.7158 21.5502 26.705 21.4988C26.5749 20.9336 26.239 20.7486 25.3506 20.7486C24.3537 20.7486 24.2345 21.0775 24.2345 21.3241C24.2345 21.6221 24.3754 21.7146 25.7189 21.879C27.0517 22.0435 27.6802 22.2799 27.6802 23.1636C27.6693 24.068 26.8892 24.5819 25.513 24.5819Z"
                                        fill="#539E43"></path>
                                    <path
                                        d="M10.7664 9.31062C10.7664 9.12567 10.658 8.95086 10.4846 8.85838L5.89051 6.35088C5.81457 6.30971 5.72795 6.28917 5.64132 6.27885H5.59792C5.51129 6.27885 5.42457 6.30971 5.34873 6.35088L0.754604 8.85838C0.581166 8.95086 0.472885 9.12558 0.472885 9.31062L0.48376 16.0522C0.48376 16.1446 0.537948 16.2371 0.624573 16.2783C0.711291 16.3297 0.819573 16.3297 0.89551 16.2783L3.62598 14.7984C3.79932 14.7059 3.9077 14.5312 3.9077 14.3463V11.1913C3.9077 11.0063 4.01598 10.8316 4.18942 10.7391L5.34873 10.1019C5.43545 10.0505 5.53295 10.0299 5.63045 10.0299C5.72795 10.0299 5.82545 10.0505 5.90139 10.1019L7.0607 10.7391C7.23414 10.8316 7.34242 11.0062 7.34242 11.1913V14.3463C7.34242 14.5312 7.45079 14.7059 7.62414 14.7984L10.3546 16.2783C10.3968 16.3035 10.4456 16.3168 10.4955 16.3168C10.5453 16.3168 10.5941 16.3035 10.6363 16.2783C10.723 16.2371 10.7772 16.1446 10.7772 16.0522L10.7664 9.31062ZM32.8485 0.0306328C32.7619 -0.0105365 32.6535 -0.0105365 32.5776 0.0306328C32.491 0.0820278 32.4368 0.164189 32.4368 0.256664V6.93667C32.4368 6.99829 32.4043 7.05991 32.3393 7.10108C32.2743 7.13185 32.2092 7.13185 32.1443 7.10108L30.9957 6.47421C30.9115 6.42874 30.8163 6.40482 30.7194 6.40482C30.6225 6.40482 30.5273 6.42874 30.4431 6.47421L25.849 8.99203C25.6756 9.0845 25.5672 9.25923 25.5672 9.44418V14.4695C25.5672 14.6545 25.6756 14.8293 25.849 14.9217L30.4431 17.4396C30.5273 17.485 30.6225 17.5089 30.7194 17.5089C30.8163 17.5089 30.9115 17.485 30.9957 17.4396L35.5899 14.9217C35.7632 14.8293 35.8716 14.6545 35.8716 14.4695V1.94212C35.8716 1.74685 35.7632 1.57221 35.5899 1.47965L32.8486 0.0306328H32.8485ZM32.426 12.815C32.426 12.8664 32.4043 12.9075 32.3609 12.928L30.7899 13.7912C30.7679 13.8014 30.7438 13.8067 30.7194 13.8067C30.695 13.8067 30.6709 13.8014 30.649 13.7912L29.0779 12.928C29.0345 12.9075 29.0128 12.8561 29.0128 12.815V11.0885C29.0128 11.0371 29.0345 10.996 29.0779 10.9754L30.649 10.1121C30.6709 10.102 30.695 10.0967 30.7194 10.0967C30.7438 10.0967 30.7679 10.102 30.7899 10.1121L32.3609 10.9754C32.4043 10.9959 32.426 11.0474 32.426 11.0885V12.815ZM48.137 11.0474C48.3104 10.9549 48.4079 10.7802 48.4079 10.5951V9.37224C48.4079 9.18729 48.2996 9.01257 48.137 8.92009L43.5754 6.41259C43.4912 6.36711 43.396 6.3432 43.2991 6.3432C43.2022 6.3432 43.1069 6.36711 43.0227 6.41259L38.4286 8.93032C38.2552 9.02279 38.1469 9.19752 38.1469 9.38247V14.4079C38.1469 14.5928 38.2553 14.7676 38.4286 14.86L42.9902 17.3265C43.1637 17.4189 43.3695 17.4189 43.5321 17.3265L46.295 15.8673C46.3817 15.8261 46.4359 15.7337 46.4359 15.6412C46.4359 15.5487 46.3817 15.4562 46.295 15.4151L41.6792 12.8972C41.5925 12.8458 41.5383 12.7637 41.5383 12.6712V11.0989C41.5383 11.0064 41.5925 10.9139 41.6792 10.8727L43.1202 10.0917C43.1624 10.0665 43.2113 10.0531 43.2611 10.0531C43.3109 10.0531 43.3598 10.0665 43.402 10.0917L44.8431 10.8727C44.9298 10.9241 44.9839 11.0063 44.9839 11.0989V12.3321C44.9839 12.4246 45.0381 12.517 45.1248 12.5581C45.167 12.5833 45.2158 12.5967 45.2657 12.5967C45.3155 12.5967 45.3643 12.5833 45.4065 12.5581L48.137 11.0474Z"
                                        fill="#333333"></path>
                                    <path
                                        d="M43.2286 10.811C43.2447 10.8009 43.2636 10.7955 43.2828 10.7955C43.3021 10.7955 43.3209 10.8009 43.337 10.811L44.2147 11.294C44.2471 11.3146 44.2688 11.3454 44.2688 11.3864V12.3525C44.2688 12.3936 44.2472 12.4245 44.2147 12.445L43.337 12.928C43.3209 12.9381 43.3021 12.9434 43.2828 12.9434C43.2636 12.9434 43.2447 12.9381 43.2286 12.928L42.351 12.445C42.3185 12.4245 42.2968 12.3936 42.2968 12.3525V11.3865C42.2968 11.3454 42.3184 11.3145 42.351 11.294L43.2286 10.811Z"
                                        fill="#539E43"></path>
                                    <path
                                        d="M23.021 8.9303L18.4377 6.43311C18.3927 6.41154 18.3455 6.39432 18.2968 6.38171L13.1609 14.7265C13.2034 14.7758 13.2548 14.8176 13.3127 14.8499L17.8959 17.3471C18.026 17.4191 18.1777 17.4396 18.3185 17.3985L23.1402 9.03317C23.1077 8.99209 23.0643 8.96115 23.021 8.93039V8.9303Z"
                                        fill="url(#paint0_linear_541_150)"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M17.7443 5.51843L17.6793 5.54929H17.7659L17.7443 5.51843Z"
                                        fill="url(#paint1_linear_541_150)"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M23.0319 14.8395C23.1619 14.7676 23.2594 14.6442 23.3028 14.5107L18.2751 6.37141C18.145 6.35087 18.0041 6.3611 17.8851 6.43303L13.3343 8.92009L18.2425 17.4087C18.3139 17.3976 18.3833 17.3769 18.4484 17.3471L23.0318 14.8396L23.0319 14.8395Z"
                                        fill="url(#paint2_linear_541_150)"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M23.4545 14.7573L23.4219 14.7059V14.7779L23.4544 14.7573H23.4545Z"
                                        fill="url(#paint3_linear_541_150)"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M23.0318 14.8395L18.4594 17.3368C18.3948 17.368 18.3253 17.3888 18.2535 17.3984L18.3402 17.5526L23.4111 14.7677V14.7059L23.281 14.5004C23.2594 14.6442 23.1619 14.7676 23.0318 14.8395Z"
                                        fill="url(#paint4_linear_541_150)"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M23.0318 14.8395L18.4594 17.3368C18.3948 17.368 18.3253 17.3888 18.2535 17.3984L18.3402 17.5526L23.4111 14.7677V14.7059L23.281 14.5004C23.2594 14.6442 23.1619 14.7676 23.0318 14.8395Z"
                                        fill="url(#paint5_linear_541_150)"></path>
                                    <defs>
                                        <linearGradient id="paint0_linear_541_150" x1="17.4797" y1="12.4711"
                                            x2="29.6911" y2="5.47608" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.1376" stop-color="#41873F"></stop>
                                            <stop offset="0.4032" stop-color="#54A044"></stop>
                                            <stop offset="0.7136" stop-color="#66B848"></stop>
                                            <stop offset="0.9081" stop-color="#6CC04A"></stop>
                                        </linearGradient>
                                        <linearGradient id="paint1_linear_541_150" x1="13.8559" y1="5.52258"
                                            x2="22.2946" y2="5.52258" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.09192" stop-color="#6CC04A"></stop>
                                            <stop offset="0.2864" stop-color="#66B848"></stop>
                                            <stop offset="0.5968" stop-color="#54A044"></stop>
                                            <stop offset="0.8624" stop-color="#41873F"></stop>
                                        </linearGradient>
                                        <linearGradient id="paint2_linear_541_150" x1="12.8967" y1="11.885" x2="23.4522"
                                            y2="11.885" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.09192" stop-color="#6CC04A"></stop>
                                            <stop offset="0.2864" stop-color="#66B848"></stop>
                                            <stop offset="0.5968" stop-color="#54A044"></stop>
                                            <stop offset="0.8624" stop-color="#41873F"></stop>
                                        </linearGradient>
                                        <linearGradient id="paint3_linear_541_150" x1="20.2613" y1="14.732" x2="23.431"
                                            y2="14.732" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.09192" stop-color="#6CC04A"></stop>
                                            <stop offset="0.2864" stop-color="#66B848"></stop>
                                            <stop offset="0.5968" stop-color="#54A044"></stop>
                                            <stop offset="0.8624" stop-color="#41873F"></stop>
                                        </linearGradient>
                                        <linearGradient id="paint4_linear_541_150" x1="12.8968" y1="16.0349"
                                            x2="23.4522" y2="16.0349" gradientUnits="userSpaceOnUse">
                                            <stop offset="0.09192" stop-color="#6CC04A"></stop>
                                            <stop offset="0.2864" stop-color="#66B848"></stop>
                                            <stop offset="0.5968" stop-color="#54A044"></stop>
                                            <stop offset="0.8624" stop-color="#41873F"></stop>
                                        </linearGradient>
                                        <linearGradient id="paint5_linear_541_150" x1="24.99" y1="8.05806" x2="22.5759"
                                            y2="21.3952" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#41873F"></stop>
                                            <stop offset="0.3288" stop-color="#418B3D"></stop>
                                            <stop offset="0.6352" stop-color="#419637"></stop>
                                            <stop offset="0.9319" stop-color="#3FA92D"></stop>
                                            <stop offset="1" stop-color="#3FAE2A"></stop>
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <span>|</span>
                                <span>Node JS</span>
                            </div>
                        </div>
                        <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px;">
                                <svg width="30" height="30" class="icon text-[22px] mr-2" viewBox="0 0 30 30"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_528_17)">
                                        <path
                                            d="M2.61354 25.5047V14.4145H15.7099V13.7658H2.61354V3.64827H16.5379V2.99976H2.00018V26.1532H16.6605V25.5047H2.61373H2.61354ZM28.4688 9.48525L23.0402 17.041L17.734 9.48544H16.9366L22.672 17.5276L16.3844 26.153H17.1205L23.0398 18.0136L28.9899 26.153H29.7566L23.4386 17.5272L29.2046 9.48505H28.4686L28.4688 9.48525ZM31.5971 31.8606V21.4839H31.6584C32.0265 22.9971 32.7524 24.2132 33.8361 25.132C34.9198 26.0507 36.2998 26.5102 37.9764 26.5102C39.0601 26.5102 40.0212 26.2778 40.8595 25.813C41.6978 25.3482 42.3981 24.7159 42.9605 23.916C43.5226 23.116 43.9521 22.1865 44.2487 21.1271C44.545 20.0679 44.6934 18.9544 44.6934 17.7872C44.6934 16.5332 44.5399 15.3765 44.2332 14.3173C43.9265 13.258 43.4818 12.3391 42.8992 11.561C42.3164 10.7827 41.611 10.1772 40.7828 9.74508C39.9548 9.31261 39.0193 9.09637 37.9764 9.09637C37.179 9.09637 36.4379 9.22074 35.7529 9.46929C35.0679 9.71802 34.4597 10.0691 33.9281 10.5232C33.3934 10.9808 32.9279 11.5221 32.5479 12.1283C32.1594 12.7445 31.8629 13.4201 31.6584 14.1552H31.5971V9.48525H30.9837V31.8606H31.5971ZM37.9764 25.8938C36.0546 25.8938 34.5107 25.1966 33.3453 23.8023C32.1799 22.408 31.5971 20.4027 31.5971 17.7868C31.5971 16.7059 31.7403 15.679 32.0265 14.7062C32.3128 13.7335 32.7268 12.8794 33.2685 12.1445C33.8105 11.4094 34.4802 10.8257 35.2774 10.3934C36.0749 9.96092 36.9747 9.74469 37.9764 9.74469C38.9988 9.74469 39.8935 9.96092 40.6602 10.3934C41.4269 10.8257 42.0609 11.4148 42.5617 12.1606C43.0626 12.9065 43.4409 13.7605 43.6966 14.7224C43.9521 15.6844 44.0799 16.7059 44.0799 17.7868C44.0799 18.7598 43.9624 19.7273 43.7272 20.6892C43.4921 21.6512 43.1291 22.516 42.6383 23.2836C42.1477 24.0508 41.5191 24.6777 40.7522 25.1643C39.9853 25.6507 39.0601 25.8938 37.9764 25.8938ZM48.0671 26.1532V16.7168C48.0671 15.8088 48.1897 14.9223 48.4352 14.0577C48.6804 13.193 49.0587 12.4308 49.5699 11.7716C50.0811 11.1122 50.7302 10.5933 51.5175 10.2149C52.3046 9.83655 53.2402 9.67988 54.3238 9.74469V9.09618C53.3832 9.07477 52.5603 9.18259 51.8549 9.42043C51.1493 9.65827 50.5411 9.98253 50.0299 10.3934C49.5188 10.8041 49.1099 11.285 48.8032 11.8364C48.4968 12.3869 48.2693 12.9825 48.1284 13.6036H48.0671V9.48525H47.4537V26.1534H48.0671V26.1532ZM55.0905 17.949H68.2787C68.3198 16.8032 68.2125 15.7008 67.9568 14.6414C67.7013 13.582 67.2922 12.6416 66.73 11.8202C66.1677 10.9987 65.4418 10.3393 64.5524 9.842C63.6629 9.34472 62.6048 9.09618 61.3781 9.09618C60.4987 9.09618 59.6399 9.29081 58.8016 9.68007C57.9633 10.0691 57.2272 10.6365 56.5934 11.3823C55.9596 12.1281 55.4484 13.0415 55.06 14.1227C54.6716 15.2035 54.4772 16.4357 54.4772 17.8193C54.4772 19.0515 54.6101 20.2028 54.8759 21.2729C55.1417 22.343 55.5506 23.2727 56.1026 24.0617C56.6549 24.8508 57.3654 25.4615 58.2343 25.8938C59.1032 26.3263 60.1511 26.5316 61.3781 26.51C63.1773 26.51 64.6904 25.9748 65.9171 24.9049C67.1441 23.8346 67.8699 22.3268 68.0948 20.3811H67.4815C67.2157 22.2188 66.5357 23.597 65.4418 24.5156C64.3478 25.4345 62.9729 25.8938 61.3166 25.8938C60.192 25.8938 59.2412 25.6885 58.4642 25.2778C57.6874 24.8671 57.0534 24.3048 56.5627 23.5915C56.0721 22.878 55.7091 22.0403 55.474 21.0782C55.2387 20.1164 55.111 19.0732 55.0905 17.949ZM67.6654 17.3005H55.0907C55.1518 16.1331 55.3564 15.0846 55.7039 14.155C56.0516 13.2253 56.5065 12.4308 57.0689 11.7716C57.6311 11.1122 58.2855 10.6096 59.0317 10.2636C59.778 9.91772 60.5806 9.74469 61.4394 9.74469C62.4617 9.74469 63.3612 9.94477 64.1384 10.3447C64.9152 10.7447 65.5644 11.2906 66.0859 11.9824C66.6073 12.6741 67.0008 13.4795 67.2666 14.3981C67.5325 15.317 67.6654 16.2845 67.6654 17.3005ZM81.0071 14.4145H81.6204C81.6204 12.5552 81.1093 11.204 80.087 10.3609C79.0645 9.51775 77.6741 9.09618 75.9157 9.09618C74.9342 9.09618 74.1062 9.226 73.4314 9.48544C72.7567 9.74469 72.2047 10.0798 71.7752 10.4905C71.3459 10.9012 71.0392 11.3553 70.8551 11.8525C70.6711 12.3498 70.579 12.8255 70.579 13.2794C70.579 14.1873 70.7324 14.9116 71.0392 15.452C71.3459 15.9925 71.8264 16.4141 72.4806 16.7168C72.9305 16.9328 73.4415 17.1274 74.0142 17.3006C74.5867 17.4735 75.2512 17.6572 76.0078 17.8516C76.6824 18.0249 77.347 18.1977 78.0014 18.3705C78.6556 18.5436 79.2333 18.776 79.7342 19.0677C80.2352 19.3596 80.6441 19.7326 80.9611 20.1866C81.2779 20.6405 81.4364 21.2351 81.4364 21.97C81.4364 22.6836 81.2781 23.2889 80.9611 23.7859C80.6468 24.2806 80.2331 24.6959 79.7496 25.0022C79.2589 25.3155 78.7118 25.5425 78.1087 25.683C77.5055 25.8235 76.9177 25.8938 76.3452 25.8938C74.4845 25.8938 73.0582 25.4561 72.0666 24.5806C71.0749 23.705 70.5792 22.3268 70.5792 20.4459H69.9657C69.9657 22.543 70.5024 24.0779 71.5758 25.0508C72.6494 26.0236 74.2391 26.51 76.3452 26.51C77.0199 26.51 77.6997 26.4288 78.3848 26.2667C79.0696 26.1046 79.6832 25.8399 80.2249 25.4722C80.7621 25.1098 81.2133 24.6217 81.5437 24.0456C81.8811 23.4617 82.0499 22.7484 82.0499 21.9052C82.0499 21.1053 81.9015 20.4568 81.6052 19.9595C81.3086 19.4624 80.9202 19.0515 80.4396 18.7273C79.9591 18.403 79.4174 18.149 78.8141 17.9653C78.2075 17.7805 77.5991 17.6021 76.9891 17.4301C76.2384 17.2218 75.487 17.0165 74.7349 16.8141C74.0909 16.641 73.4929 16.4357 72.9408 16.1979C72.4092 15.96 71.9849 15.6196 71.6679 15.1764C71.3509 14.7333 71.1926 14.1009 71.1926 13.2794C71.1926 13.1282 71.2334 12.8578 71.3152 12.4687C71.3969 12.0795 71.5913 11.685 71.898 11.285C72.2047 10.8852 72.6748 10.5285 73.3088 10.2149C73.9426 9.90156 74.8116 9.74469 75.9157 9.74469C76.6723 9.74469 77.3623 9.8313 77.9859 10.0041C78.6096 10.1772 79.1464 10.4528 79.5961 10.8311C80.046 11.2095 80.3935 11.6904 80.6389 12.2741C80.8843 12.858 81.0071 13.5713 81.0071 14.4145ZM95.2074 14.4145H95.8207C95.8207 12.5552 95.3097 11.204 94.2873 10.3609C93.2649 9.51775 91.8745 9.09618 90.116 9.09618C89.1347 9.09618 88.3065 9.226 87.6318 9.48544C86.957 9.74469 86.4049 10.0798 85.9756 10.4905C85.5462 10.9012 85.2395 11.3553 85.0554 11.8525C84.8713 12.3498 84.7795 12.8255 84.7795 13.2794C84.7795 14.1873 84.9328 14.9116 85.2397 15.452C85.5462 15.9925 86.0268 16.4141 86.681 16.7168C87.1309 16.9328 87.642 17.1274 88.2144 17.3006C88.7869 17.4735 89.4515 17.6572 90.2081 17.8516C90.8829 18.0249 91.5474 18.1977 92.2017 18.3705C92.8561 18.5436 93.4335 18.776 93.9346 19.0677C94.4355 19.3596 94.8445 19.7326 95.1613 20.1866C95.4783 20.6405 95.6368 21.2351 95.6368 21.97C95.6368 22.6836 95.4783 23.2889 95.1613 23.7859C94.8471 24.2806 94.4335 24.6959 93.9501 25.0022C93.4591 25.3155 92.9122 25.5425 92.309 25.683C91.7059 25.8235 91.118 25.8938 90.5455 25.8938C88.6848 25.8938 87.2587 25.4561 86.267 24.5806C85.2752 23.705 84.7795 22.3268 84.7795 20.4459H84.1661C84.1661 22.543 84.7027 24.0779 85.7763 25.0508C86.8497 26.0236 88.4394 26.51 90.5455 26.51C91.2203 26.51 91.9001 26.4288 92.5851 26.2667C93.2699 26.1046 93.8834 25.8399 94.4254 25.4722C94.9625 25.1098 95.4137 24.6217 95.7441 24.0456C96.0816 23.4617 96.2502 22.7484 96.2502 21.9052C96.2502 21.1053 96.102 20.4568 95.8054 19.9595C95.5091 19.4624 95.1207 19.0515 94.64 18.7273C94.1596 18.403 93.6176 18.149 93.0146 17.9653C92.4079 17.7805 91.7996 17.6021 91.1896 17.4301C90.4389 17.2218 89.6874 17.0165 88.9353 16.8141C88.2912 16.641 87.6931 16.4357 87.1411 16.1979C86.6094 15.96 86.1851 15.6196 85.8683 15.1764C85.5513 14.7333 85.3928 14.1009 85.3928 13.2794C85.3928 13.1282 85.4337 12.8578 85.5156 12.4687C85.5974 12.0795 85.7917 11.685 86.0982 11.285C86.4049 10.8852 86.8753 10.5285 87.509 10.2149C88.143 9.90156 89.0119 9.74469 90.1162 9.74469C90.8728 9.74469 91.5627 9.8313 92.1864 10.0041C92.8101 10.1772 93.3467 10.4528 93.7966 10.8311C94.2464 11.2095 94.594 11.6904 94.8394 12.2741C95.0848 12.858 95.2075 13.5713 95.2075 14.4145H95.2074Z"
                                            fill="#222222"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_528_17">
                                            <rect width="28" height="23" fill="white"
                                                transform="translate(1.00018 2.99976)"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span>|</span>
                                <span>Express JS</span>
                            </div>
                        </div>
                        <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px;">
                                <svg class="icon text-[22px] mr-2" width="30" height="30" viewBox="0 0 30 30"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_541_182)">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M6.70953 28.2681L5.98544 28.0113C5.98544 28.0113 6.07387 24.1805 4.74896 23.9056C3.86601 22.8424 4.8906 -21.186 8.06986 23.7588C8.06986 23.7588 6.97463 24.3269 6.78035 25.2986C6.56828 26.2519 6.70953 28.2681 6.70953 28.2681Z"
                                            fill="white"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M6.70953 28.2681L5.98544 28.0113C5.98544 28.0113 6.07387 24.1805 4.74896 23.9056C3.86601 22.8424 4.8906 -21.186 8.06986 23.7588C8.06986 23.7588 6.97463 24.3269 6.78035 25.2986C6.56828 26.2519 6.70953 28.2681 6.70953 28.2681Z"
                                            fill="#A6A385"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M7.09828 24.5655C7.09828 24.5655 13.4396 20.2395 11.9556 11.2394C10.525 4.69592 7.1513 2.55131 6.78035 1.7264C6.37419 1.13985 5.98544 0.113525 5.98544 0.113525L6.25054 18.3148C6.25054 18.3333 5.70293 23.8872 7.09847 24.5657"
                                            fill="white"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M7.09828 24.5655C7.09828 24.5655 13.4396 20.2395 11.9556 11.2394C10.525 4.69592 7.1513 2.55131 6.78035 1.7264C6.37419 1.13985 5.98544 0.113525 5.98544 0.113525L6.25054 18.3148C6.25054 18.3333 5.70293 23.8872 7.09847 24.5657"
                                            fill="#499D4A"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M5.61469 24.8037C5.61469 24.8037 -0.338038 20.5877 0.0152974 13.1643C0.350832 5.74072 4.55469 2.09308 5.36721 1.43323C5.89721 0.846676 5.91482 0.626594 5.95023 0.0400391C6.32117 0.86495 6.25055 12.3762 6.30337 13.7324C6.46224 18.9564 6.02086 23.8141 5.61469 24.8037Z"
                                            fill="white"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M5.61469 24.8037C5.61469 24.8037 -0.338038 20.5877 0.0152974 13.1643C0.350832 5.74072 4.55469 2.09308 5.36721 1.43323C5.89721 0.846676 5.91482 0.626594 5.95023 0.0400391C6.32117 0.86495 6.25055 12.3762 6.30337 13.7324C6.46224 18.9564 6.02086 23.8141 5.61469 24.8037Z"
                                            fill="#58AA50"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_541_182">
                                            <rect width="14" height="29" fill="white"
                                                transform="translate(0.000183105 -0.000244141)"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span>|</span>
                                <span>Mongo DB</span>
                            </div>
                        </div>
                        <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px; max-width: 200px;">
                                <svg width="30" height="30" viewBox="0 -60.5 256 256" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    preserveAspectRatio="xMidYMid">
                                    <defs>
                                        <radialGradient id="radialGradient-1" cx="0.8366" cy="-125.811" r="363.0565"
                                            gradientTransform="matrix(0.463 0 0 0.463 76.4644 81.9182)"
                                            gradientUnits="userSpaceOnUse">
                                            <stop offset="0" style="stop-color:#FFFFFF" />
                                            <stop offset="0.5" style="stop-color:#4C6B97" />
                                            <stop offset="1" style="stop-color:#231F20" />
                                        </radialGradient>
                                    </defs>
                                    <g>
                                        <ellipse fill="url(#radialGradient-1)" cx="128" cy="67.3" rx="128" ry="67.3" />
                                        <ellipse fill="#6181B6" cx="128" cy="67.3" rx="123" ry="62.3" />
                                        <g>
                                            <path fill="#FFFFFF"
                                                d="M152.9,87.5c0,0,6.1-31.4,6.1-31.4c1.4-7.1,0.2-12.4-3.4-15.7c-3.5-3.2-9.5-4.8-18.3-4.8h-10.6l3-15.6
                                                c0.1-0.6,0-1.2-0.4-1.7c-0.4-0.5-0.9-0.7-1.5-0.7h-14.6c-1,0-1.8,0.7-2,1.6l-6.5,33.3c-0.6-3.8-2-7-4.4-9.6
                                                c-4.3-4.9-11-7.4-20.1-7.4H52.1c-1,0-1.8,0.7-2,1.6L37,104.7c-0.1,0.6,0,1.2,0.4,1.7c0.4,0.5,0.9,0.7,1.5,0.7h14.7
                                                c1,0,1.8-0.7,2-1.6l3.2-16.3h10.9c5.7,0,10.6-0.6,14.3-1.8c3.9-1.3,7.4-3.4,10.5-6.3c2.5-2.3,4.6-4.9,6.2-7.7l-2.6,13.5
                                                c-0.1,0.6,0,1.2,0.4,1.7s0.9,0.7,1.5,0.7h14.6c1,0,1.8-0.7,2-1.6l7.2-37h10c4.3,0,5.5,0.8,5.9,1.2c0.3,0.3,0.9,1.5,0.2,5.2
                                                l-5.8,29.9c-0.1,0.6,0,1.2,0.4,1.7c0.4,0.5,0.9,0.7,1.5,0.7H151C151.9,89.1,152.7,88.4,152.9,87.5z M85.3,61.5
                                                c-0.9,4.7-2.6,8.1-5.1,10c-2.5,1.9-6.6,2.9-12,2.9h-6.5l4.7-24.2h8.4c6.2,0,8.7,1.3,9.7,2.4C85.8,54.2,86.1,57.3,85.3,61.5z" />
                                            <path fill="#FFFFFF"
                                                d="M215.3,42.9c-4.3-4.9-11-7.4-20.1-7.4h-28.3c-1,0-1.8,0.7-2,1.6l-13.1,67.5c-0.1,0.6,0,1.2,0.4,1.7
                                                c0.4,0.5,0.9,0.7,1.5,0.7h14.7c1,0,1.8-0.7,2-1.6l3.2-16.3h10.9c5.7,0,10.6-0.6,14.3-1.8c3.9-1.3,7.4-3.4,10.5-6.3
                                                c2.6-2.4,4.8-5.1,6.4-8c1.6-2.9,2.8-6.1,3.5-9.6C220.9,54.7,219.6,47.9,215.3,42.9z M200,61.5c-0.9,4.7-2.6,8.1-5.1,10
                                                c-2.5,1.9-6.6,2.9-12,2.9h-6.5l4.7-24.2h8.4c6.2,0,8.7,1.3,9.7,2.4C200.6,54.2,200.9,57.3,200,61.5z" />
                                        </g>
                                        <g>
                                            <path fill="#000004"
                                                d="M74.8,48.2c5.6,0,9.3,1,11.2,3.1c1.9,2.1,2.3,5.6,1.3,10.6c-1,5.2-3,9-5.9,11.2c-2.9,2.2-7.3,3.3-13.2,3.3
                                                h-8.9l5.5-28.2H74.8z M39,105h14.7l3.5-17.9h12.6c5.6,0,10.1-0.6,13.7-1.8c3.6-1.2,6.8-3.1,9.8-5.9c2.5-2.3,4.5-4.8,6-7.5
                                                c1.5-2.7,2.6-5.7,3.2-9c1.6-8,0.4-14.2-3.5-18.7c-3.9-4.5-10.1-6.7-18.6-6.7H52.1L39,105z" />
                                            <path fill="#000004"
                                                d="M113.3,19.6h14.6l-3.5,17.9h13c8.2,0,13.8,1.4,16.9,4.3c3.1,2.9,4,7.5,2.8,13.9L151,87.1h-14.8l5.8-29.9
                                                c0.7-3.4,0.4-5.7-0.7-6.9c-1.1-1.2-3.6-1.9-7.3-1.9h-11.7l-7.5,38.7h-14.6L113.3,19.6z" />
                                            <path fill="#000004"
                                                d="M189.5,48.2c5.6,0,9.3,1,11.2,3.1c1.9,2.1,2.3,5.6,1.3,10.6c-1,5.2-3,9-5.9,11.2c-2.9,2.2-7.3,3.3-13.2,3.3
                                                h-8.9l5.5-28.2H189.5z M153.7,105h14.7l3.5-17.9h12.6c5.6,0,10.1-0.6,13.7-1.8c3.6-1.2,6.8-3.1,9.8-5.9c2.5-2.3,4.5-4.8,6-7.5
                                                c1.5-2.7,2.6-5.7,3.2-9c1.6-8,0.4-14.2-3.5-18.7c-3.9-4.5-10.1-6.7-18.6-6.7h-28.3L153.7,105z" />
                                        </g>
                                    </g>
                                </svg>
                                <span>|</span>
                                <span>PHP</span>
                            </div>
                        </div>
                        <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px; max-width: 200px;">
                                <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="#00758F" fill-rule="evenodd"
                                        d="M5.46192862,4.04007684 C5.18892668,4.03501656 4.99575061,4.06967946 4.79169495,4.11446291 L4.79169495,4.15152944 L4.82901449,4.15152944 C4.95944313,4.41909158 5.18943271,4.591394 5.35034952,4.82188962 C5.47407329,5.08262038 5.59817658,5.34297163 5.72227987,5.60332288 C5.73493056,5.5909252 5.74745474,5.57865403 5.75959941,5.56625635 C5.99047454,5.40394797 6.0957283,5.14410275 6.09471625,4.74737704 C6.00211318,4.64996671 5.98832392,4.52826705 5.90837155,4.4122602 C5.80235875,4.25754224 5.59615247,4.17012595 5.46192862,4.04007684 L5.46192862,4.04007684 Z M23.478665,23.1369293 C23.6543831,23.2658398 23.772161,23.4657208 24,23.5466852 L24,23.5093657 C23.8800714,23.3573044 23.8495833,23.1474294 23.7395222,22.9880306 C23.5786054,22.8271138 23.4164236,22.6655645 23.2555068,22.5040152 C22.7821179,21.8759083 22.1818425,21.3245911 21.5432356,20.8663831 C21.0345512,20.5006515 19.8944709,20.0072745 19.6819392,19.4148426 C19.6697946,19.4021919 19.6571439,19.3896677 19.6444932,19.3770171 C20.0054174,19.3365348 20.4283301,19.2059797 20.7614228,19.1165393 C21.3210894,18.9665021 21.8214243,19.0054662 22.3990549,18.8560615 C22.6600387,18.781296 22.9203899,18.7066569 23.1808677,18.6329033 L23.1808677,18.4834987 C22.8887632,18.1836773 22.6805328,17.7869515 22.3622414,17.5155942 C21.5283078,16.8061434 20.6188495,16.0966926 19.6818127,15.5056522 C19.1626283,15.1774933 18.5200996,14.9645821 17.969415,14.6865199 C17.7842089,14.5931578 17.4590861,14.5444526 17.3365009,14.3887226 C17.0476856,14.0198284 16.8899314,13.5523853 16.6667732,13.1228943 C16.1997097,12.2230506 15.740363,11.2403448 15.3263059,10.293567 C15.044322,9.6481287 14.8597484,9.01154587 14.5076796,8.43227067 C12.8174206,5.65329311 10.9976185,3.97581132 8.17942382,2.3270466 C7.57927498,1.97649592 6.85742648,1.83809735 6.09471625,1.65719245 C5.68546635,1.6325236 5.27545742,1.60734872 4.86620752,1.58267987 C4.61635635,1.47831166 4.35651113,1.17267094 4.12184079,1.02427832 C3.18796669,0.434503045 0.792811133,-0.848656668 0.10157731,0.838313141 C-0.335124586,1.90286889 0.753847001,2.94174374 1.14361483,3.48142227 C1.4172493,3.85980447 1.76704094,4.2842352 1.96287366,4.70967798 C2.09127818,4.98938478 2.11316388,5.27010364 2.22385744,5.56600333 C2.49432924,6.29518923 2.7293791,7.08838764 3.07929725,7.76241652 C3.25653344,8.10322617 3.45173363,8.46263233 3.67539786,8.76738751 C3.81265788,8.95449125 4.04720171,9.03684725 4.08401522,9.32578906 C3.85465817,9.64749617 3.84150145,10.1466925 3.7125909,10.5541713 C3.13065906,12.3887747 3.35014857,14.6686824 4.19660638,16.0266077 C4.45594557,16.443195 5.06773305,17.3374725 5.90837155,16.9942592 C6.64375629,16.6946908 6.47980332,15.76613 6.69018433,14.9469976 C6.73749792,14.760906 6.70865434,14.624405 6.80176344,14.5003017 L6.80176344,14.5373682 C7.02542767,14.9840642 7.2488389,15.4307601 7.47199711,15.8773296 C7.96815726,16.6759678 8.84826592,17.5111665 9.59415073,18.0739958 C9.98037636,18.3659737 10.2848785,18.8709894 10.7852134,19.0419002 L10.7852134,19.0040746 L10.7478939,19.0040746 C10.6504835,18.8536579 10.4989282,18.790531 10.3759635,18.6694638 C10.0844916,18.3836847 9.76050733,18.0287063 9.51938514,17.7014329 C8.84080201,16.780589 8.24153872,15.7725818 7.69553484,14.7235864 C7.43455106,14.2224925 7.20785066,13.6697838 6.98785512,13.1600874 C6.90322199,12.9633691 6.90423404,12.6662043 6.72737736,12.5643663 C6.48650818,12.9378147 6.13190928,13.2401663 5.94556458,13.6811694 C5.64776729,14.386319 5.60943569,15.2461865 5.49899515,16.1379338 C5.43371758,16.1614641 5.46268766,16.1453977 5.42422956,16.1750003 C4.90555118,16.0502645 4.72350772,15.5164053 4.53096418,15.0584502 C4.04378602,13.9006589 3.95333357,12.0360734 4.38206553,10.7030699 C4.4930121,10.3583386 4.99499157,9.27202362 4.79131543,8.95347919 C4.69441112,8.63544079 4.37510765,8.45187925 4.19635337,8.20885945 C3.97420721,7.90853201 3.75332613,7.5134509 3.59974672,7.16644241 C3.20150293,6.26368901 3.01528474,5.25024206 2.59540827,4.33749461 C2.39451528,3.90142525 2.0550972,3.45966308 1.77627595,3.07166635 C1.46759906,2.64204884 1.12185564,2.32578153 0.882884062,1.80583808 C0.797744903,1.62126448 0.681991069,1.32587082 0.808244978,1.13598393 C0.848094658,1.00783242 0.905022773,0.954446496 1.03190922,0.912572704 C1.24810955,0.746089595 1.84889092,0.967982736 2.07394674,1.06147135 C2.67055338,1.30929841 3.16924367,1.54548684 3.67489184,1.88035066 C3.91740561,2.04126747 4.16295554,2.35272751 4.45607208,2.43887872 L4.79118892,2.43887872 C5.31568662,2.5591868 5.90280525,2.47645128 6.39200751,2.62509691 C7.25744137,2.8881048 8.0329288,3.29722819 8.73719284,3.74202653 C10.8826237,5.09653615 12.6370217,7.02526068 13.8370664,9.32578906 C14.030116,9.69620133 14.1138635,10.0496617 14.2836358,10.4427187 C14.6265961,11.2350315 15.0591233,12.0501156 15.4004389,12.825097 C15.7408691,13.5978013 16.0728232,14.3779695 16.5541821,15.0213837 C16.8071959,15.3594102 17.7850944,15.5408211 18.2297663,15.7288104 C18.5412263,15.8602511 19.0514287,15.9976376 19.3460633,16.1750003 C19.9100312,16.5151775 20.4556556,16.9197466 20.9842015,17.292183 C21.2483479,17.4785277 22.0606489,17.886639 22.1006251,18.2223884 C20.7916579,18.1877255 19.7916207,18.3092986 18.9366869,18.6695903 C18.6936671,18.7716814 18.3064295,18.7747176 18.2664533,19.0787137 C18.4000446,19.2186304 18.4211712,19.4281259 18.527437,19.6000488 C18.7309867,19.9304848 19.0755915,20.3728795 19.3833829,20.6053993 C19.7195118,20.8590456 20.0657612,21.130403 20.4255469,21.3498925 C21.0663045,21.7407989 21.7818276,21.9638306 22.3984224,22.3551165 C22.7632683,22.5861182 23.1241926,22.8764515 23.478665,23.1369293 L23.478665,23.1369293 Z" />
                                </svg>
                                <span>|</span>
                                <span>MySQL</span>
                            </div>
                        </div>
                        <div class="col p-3">
                            <div class="w-100 d-flex justify-content-between align-items-center shadow py-2 px-3 rounded"
                                style="min-width: 150px; max-width: 200px;">
                                <svg width="30" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="#21759B" fill-rule="evenodd"
                                        d="M0,11.99925 C0,16.749 2.76,20.85375 6.76275,22.7985 L1.03875,7.116 C0.3735,8.60775 0,10.25925 0,11.99925 M20.10015,11.394 C20.10015,9.9105 19.5669,8.88375 19.1109,8.085 C18.50265,7.09575 17.9319,6.25875 17.9319,5.27025 C17.9319,4.167 18.76815,3.14025 19.94715,3.14025 C20.0004,3.14025 20.05065,3.147 20.1024,3.15 C17.9679,1.194 15.12315,0 11.9994,0 C7.8069,0 4.11915,2.151 1.9734,5.40825 C2.2554,5.41725 2.5209,5.4225 2.7459,5.4225 C4.00065,5.4225 5.9439,5.27025 5.9439,5.27025 C6.5904,5.232 6.6669,6.183 6.0204,6.25875 C6.0204,6.25875 5.37015,6.33525 4.64715,6.3735 L9.01665,19.371 L11.64315,11.49525 L9.77415,6.3735 C9.12765,6.33525 8.5149,6.25875 8.5149,6.25875 C7.8684,6.2205 7.94415,5.232 8.5914,5.27025 C8.5914,5.27025 10.5729,5.4225 11.7519,5.4225 C13.00665,5.4225 14.9499,5.27025 14.9499,5.27025 C15.59715,5.232 15.6729,6.183 15.0264,6.25875 C15.0264,6.25875 14.3754,6.33525 13.65315,6.3735 L17.98965,19.272 L19.1874,15.273 C19.7049,13.6125 20.10015,12.42075 20.10015,11.394 M12.21015,13.04895 L8.6094,23.5107 C9.6849,23.8272 10.8219,23.9997 11.9994,23.9997 C13.39665,23.9997 14.7369,23.7582 15.98415,23.31945 C15.95265,23.2677 15.92265,23.2137 15.89865,23.15445 L12.21015,13.04895 Z M22.52925,6.242475 C22.581,6.624975 22.61025,7.034475 22.61025,7.476225 C22.61025,8.693475 22.38225,10.062225 21.6975,11.774475 L18.03225,22.371225 C21.6,20.291475 23.99925,16.425975 23.99925,11.999475 C23.99925,9.912975 23.466,7.951725 22.52925,6.242475" />
                                </svg>
                                <span>|</span>
                                <span>Wordpress</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="work-process-section my-5 pt-3">
                <div class="container mt-5">
                    <h2 class="section-heading text-center mb-4">
                        <span>M</span>y <span>W</span>orking <span>P</span>rocess
                    </h2>
                    <p class="mb-5 text-center text-secondary">
                        Know How I work or how i complete any project
                    </p>
                    <div class="box-wrapper my-5">
                        <div class="row row-cols-1 row-cols-md-2">
                            <div class="col p-4">
                                <div class="shadow rounded p-4 box">
                                    <div class="heading">
                                        <span class="left-text">01</span>
                                        <span class="middle-line"></span>
                                        <span class="right-text">DISCUSSIOn</span>
                                    </div>
                                    <p>
                                        It is extremely important to me to understand the needs and requirements of the
                                        project. Such as What’s the cores features and functions? What’s the project
                                        deadline? Are there any key milestones, important dates, or time constraints?
                                        and so on
                                    </p>
                                </div>
                            </div>
                            <div class="col p-4">
                                <div class="shadow rounded p-4 box">
                                    <div class="heading">
                                        <span class="left-text">02</span>
                                        <span class="middle-line"></span>
                                        <span class="right-text">Planning</span>
                                    </div>
                                    <p>
                                        Then I create a plan for interior projects that what is the best way to complete
                                        the project, how tips & technique should I apply etc. Planning provides a lot of
                                        potential for each project.
                                    </p>
                                </div>
                            </div>
                            <div class="col p-4">
                                <div class="shadow rounded p-4 box">
                                    <div class="heading">
                                        <span class="left-text">03</span>
                                        <span class="middle-line"></span>
                                        <span class="right-text">Design</span>
                                    </div>
                                    <p>
                                        Websites promote you 24/7: No employee will do that. So, when I design a website
                                        I try to give the best of myself to do an awesome, clean and service related
                                        design for the website. Good design can improve the quality of your business.
                                    </p>
                                </div>
                            </div>
                            <div class="col p-4">
                                <div class="shadow rounded p-4 box">
                                    <div class="heading">
                                        <span class="left-text">04</span>
                                        <span class="middle-line"></span>
                                        <span class="right-text">Coding</span>
                                    </div>
                                    <p>
                                        The website is built by web language that’s why we need to code for every
                                        website. Clean & developer friendly & w3c validated coding can be a core part to
                                        make your website dynamic & full functional. I always do coding in the best &
                                        professional way.
                                    </p>
                                </div>
                            </div>
                            <div class="col p-4">
                                <div class="shadow rounded p-4 box">
                                    <div class="heading">
                                        <span class="left-text">05</span>
                                        <span class="middle-line"></span>
                                        <span class="right-text">Submit for Review</span>
                                    </div>
                                    <p>
                                        Once the design and coding is complete, I send it to the client for review.
                                        After the client check, If it is necessary to modify or revise, I tell the
                                        client to send them all in a list and I am happy to make all the changes every
                                        time.
                                    </p>
                                </div>
                            </div>
                            <div class="col p-4">
                                <div class="shadow rounded p-4 box">
                                    <div class="heading">
                                        <span class="left-text">06</span>
                                        <span class="middle-line"></span>
                                        <span class="right-text">Website Ready</span>
                                    </div>
                                    <p>
                                        After reviewing everything, we are going to the final step, if everything has
                                        done, then I can publish it for everyone.
                                        <span>
                                            It's not like that a website completed and the relationship with the client
                                            is also finished. I always give lifetime support to my client and help them
                                            when they face any website related problem.
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include('./partials/footer'); %>